body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 10pt;
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
}

.box {
    background-color: #CFCFCF;
    padding: 15px;
    border: 2px solid #414141;
}

.title {
    font-size: 2em;
}

.text {
    width: 56em;
    float: left;
    margin-left: 1em;
}

.pdf {
    width: 68vw;
    height: 96vh;
}

img {
    float: left;
    width: 15em;
    border: 2px solid #414141;
}